@font-face {
  font-family: 'UntitledSans';
  font-weight: 400;
  src: local('UntitledSans'), url(./assets/fonts/UntitledSansWeb-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'UntitledSans';
  font-weight: 500;
  src: local('UntitledSans'), url(./assets/fonts/UntitledSansWeb-Medium.woff2) format('woff2');
}

body {
  margin: 0;
  font-family: 'UntitledSans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5e5 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
